<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payement confirmé</title>
    <link rel="stylesheet" href="../../../../theme/assets/css/payementconfirmé.css">
</head>
<body>
    <div class="moving-zone">
        <div class="popup">
            <div class="popup-content">
                <div class="popup-text">
                    I'm a new kind of <b>popup</b>.<br/>
                    Move your <b>mouse</b> around !
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../../theme/assets/js/pay_confirmé.js"></script>
</body>
</html>