 * {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Rubik', sans-serif;
	 margin: 0;
	 padding: 0;
}
/* ========= Start of the container ========== */
 .container {
	 display: flex;
	 height: 95vh;
}

/* ALL left  */

 .left {
	 overflow: hidden;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 animation-name: left;
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-delay: 1s;
}

/* Logo ECOLE 241 BUSINESS  */
.logo > img{
	position: relative;
	width: 70px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.30em;
	
}
 .header > h2 {
	 margin: 0;
	 color: #003366;
	 font-size: 16px;
	 text-align: center;
}
 .form {
	 max-width: 80%;
	 display: flex;
	 flex-direction: column;
}

 .form-field {
	 height: 20px;
	 padding: 0 7px;
	 border: 2px solid #ddd;
	 border-radius: 4px;
	 font-family: 'Rubik', sans-serif;
	 outline: 0;
	 transition: 0.2s;
	 margin-top: 6px;
}

 .form-field:focus {
	 border-color: #003366;
}

fieldset {
	border: 2px solid #ddd;
	margin-top: 8px;
	border-radius: 5px;
}

input{
	border: 2px solid #ddd;
	color: rgb(121, 119, 119);
	border-radius: 3px;
}
 .form > button {
	 padding: 7px 7px;
	 border: 0;
	 background:#003366;
	 border-radius: 3px;
	 margin-top: 10px;
	 color: #fff;
	 letter-spacing: 1px;
	 font-family: 'Rubik', sans-serif;
}
span{
	color: rgb(121, 119, 119);
	font-size: 14px;
}

 label{
	color: rgb(121, 119, 119);
	font-size: 14px;
 }
 
textarea{
	height: 40px;
	width: 100%;
	padding: 0 10px;
	border: 2px solid #ddd;
	border-radius: 4px;
	font-family: 'Rubik', sans-serif;
	outline: 0;
	transition: 0.2s;
	margin-top: 10px;
}
/* Animation-delay  */
.animation {
	animation-name: move;
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-delay: 2s;
}

 .a1 {
	 animation-delay: 2s;
}
 .a2 {
	 animation-delay: 2.1s;
}
 .a3 {
	 animation-delay: 2.2s;
}
 .a4 {
	 animation-delay: 2.3s;
}
 .a5 {
	 animation-delay: 2.4s;
}
 .a6 {
	 animation-delay: 2.5s;
}
 @keyframes move {
	 0% {
		 opacity: 0;
		 visibility: hidden;
		 transform: translateY(-40px);
	}
	 100% {
		 opacity: 1;
		 visibility: visible;
		 transform: translateY(0);
	}
}
 @keyframes left {
	 0% {
		 opacity: 0;
		 width: 0;
	}
	 100% {
		 opacity: 1;
		 padding: 20px 40px;
		 width: 440px;
	}
}
 

/* ALL right  */
.right {
	flex: 1;
	background-color: black;
	transition: 1s;
	background-image: url(https://gnadoemagazine.com/wp-content/uploads/2020/04/sliderhome_entrepreneuriat.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 80%;
}
/* ========= End of the container ========== */