@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
/* ========= Start of the container ========== */
.container {
  display: flex;
  height: 95vh;
}

/* ALL left  */

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

/* Logo ECOLE 241 BUSINESS  */
.logo > img {
  position: relative;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
}
.header > h2 {
  margin: 0;
  color: #003366;
  font-size: 16px;
  text-align: center;
}
.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form-field {
  height: 30px;
  padding: 0 7px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 7px;
}

fieldset {
  border: 2px solid #ddd;
  margin-top: 8px;
  border-radius: 5px;
}

input {
  border: 2px solid #ddd;
  color: rgb(121, 119, 119);
  border-radius: 3px;
}
.form > button {
  padding: 7px 7px;
  border: 0;
  background: #003366;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}
span {
  color: rgb(121, 119, 119);
  font-size: 14px;
}

label {
  color: rgb(121, 119, 119);
  font-size: 14px;
}

/* Animation-delay  */
.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}
.a2 {
  animation-delay: 2.1s;
}
.a3 {
  animation-delay: 2.2s;
}
.a4 {
  animation-delay: 2.3s;
}
.a5 {
  animation-delay: 2.4s;
}
.a6 {
  animation-delay: 2.5s;
}
@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

/* ALL right  */
.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(https://images.pexels.com/photos/2381069/pexels-photo-2381069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 101%;
}
/* ========= End of the container ========== */

/*==================================================================
[ Social ]*/
.contact100-form-social {
  padding-top: 100px;
}

.contact100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.contact100-form-social-item:hover {
  background: #404b46;
  color: #fff;
}


/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 50px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
  padding-left: 26px;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: 100%;
  top: 45%;
  transform: translateY(-50%);
  right: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-top-color: #404b46;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-bottom-color: #404b46;
}



/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  width: calc(100% + 2px);
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  left: -2px;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {top: -34px;}
.select2-dropdown--below {top: 2px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 26px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #6675df;
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #6675df;
  color: white;
}

.select2-results__options {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
}

.wrap-input100 .dropDownSelect2 .select2-container--open {
  width: 100% !important;
}

.wrap-input100 .dropDownSelect2 .select2-dropdown {
  width: calc(100% + 2px) !important;
}
